@import url('file:///home/v/.cache/wal/colors-waybar.css');

* {
    border-radius: 0;
    border: none;
    font-family: "Shure Tech Mono Nerd Font";
    min-height: 0;
}

window#waybar {
    background: transparent;
    font-size: 8px;
}

#workspaces {
    background: @background;
}

#workspaces button {
    padding: 0;
    padding-left: 48px;
    padding-right: 48px;
    color: @color1;
}


#workspaces button.focused {
    background: @foreground;
}

#workspaces button:hover {
    background: @color1;
}

.modules-left {
    background: @foreground;
}
